<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} · {{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ site.base }}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.base }}/css/group.css" rel="stylesheet">
  <link rel="alternate" type="application/atom+xml" title="Atom"
  href="{{ site.base }}/blog/blog.xml">
  <link rel="shortcut icon" href="{{site.base}}/img/bh.jpg">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8673888-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-8673888-4');
  </script>

</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site.name }}</a>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% assign shorturl = page.url | replace:'index.html','' %}
          {% for item in site.navigation %}
          <li {% if item.link == shorturl %}class="active"{% endif %}>
            <a href="{{ site.base }}{{ item.link }}">
              {{ item.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <p>
            <a href="{{ site.base }}/ent/earcaretips.html">
              Ear Care Tips
            </a>
          </p>
          <p>
            <a href="{{ site.base }}/ent/dosanddonts.html">
              Dos and Don'ts
            </a>
          </p>
          <p>
            <a href="{{ site.base }}/ent/childrenearcare.html">
              Child Ear Care
            </a>
          </p>
          <p>
            <a href="{{ site.base }}/ent/sinusitis.html">
              Sinusitis
            </a>
          </p>
          <p>
            <a href="{{ site.base }}/ent/sinusitistreatment.html">
              Sinusitis Treatment
            </a>
          </p>
          <p>
            <a href="{{ site.base }}/ent/fess.html">
              FESS
            </a>
          </p>
          <p>
            <a href="{{ site.base }}/ent/barotrauma.html">
              Barotrauma
            </a>
          </p>
          <p>
            <a href="{{ site.base }}/ent/deafchild.html">
              Prevent Birth of Deaf Child
            </a>
          </p>
          <p>
            <a href="{{ site.base }}/ent/noise.html">
              Noise
            </a>
          </p>
        </div>
        <div class="col-md-10">
          {% comment %}Liquid is sort of terrible! I think "!= true" is the
          only way to do negation?{% endcomment %}
          {% if page.notitle != true %}
          <h2>{{ page.title }}</h2>
          {% endif %}

          {{ content }}
        </div>
      </div>
    </div>

  </div> <!-- /container -->

  <!-- Support retina images. -->
  <script type="text/javascript"
  src="{{ site.base }}/js/srcset-polyfill.js"></script>
  <!-- Bootstrap Javascript -->
  <script type="text/javascript" src="{{site.base}}/js/jquery.js"></script>
  <script type="text/javascript" src="{{site.base}}/js/bootstrap.min.js"></script>
</body>
</html>
